/**
 * Typography styles
 *
 * All typography formatting and general font settings
 * belong in this file. For unique blocks and widgets, etc
 * you should put those in layout.css
 **/
 

body,
html {
	font-family: 'Open Sans', serif;
	font-size: 14px;
}


/**
 * Headings
 **/

h1 {
	font-size: 3rem;
	padding: 0.5rem 0;
	font-weight: 300;
}

h2 {
	font-size: 2.2rem;
	padding: 0.5rem 0;
	font-weight: 300;
}

h3 {
	font-size: 1.8rem;
	padding: 0.5rem 0;
	font-weight: 400;
}

h4 {
	font-size: 1.4rem;
	padding: 0.5rem 0;
	font-weight: 400;
}



/**
 * Body copy
 **/

.typography p {
	padding: 0.4rem 0;
}

.typography a {
	@include animate()
}

.typography a:not(.button) {
	text-decoration: none;
	border-bottom: 1px dotted #CCCCCC;
	color: colour(blue);
}

.typography a:not(.button):hover {
	border-color: #000000;
	color: #000000;
}

.typography ul,
.typography ol{
	padding-left: 24px;
}

.typography li {
	padding: 0.2em 0;
}



/**
 * Text formatting
 *
 * Allows us to add a class (ie .centered-text) to text to apply font styles
 **/

.centered-text {		text-align: center; }
.bold-text {			font-weight: bold; }
.italic-text {			font-style: italic; }


